- title = media_bookmark.nil? ? "" : media_bookmark.title
- description = media_bookmark.nil? ? "" : media_bookmark.description
- topics = media_bookmark.nil? ? "" : media_bookmark.topic_list
.row
  .col-md-4
    .form-group
      %label Title
      %br/
      %input.form-control{:name => "title", :value => title}
  .col-md-8
    .form-group
      %label Description
      %br/
      %textarea.form-control{:name => "description"}
        #{description}
.row
  .col-md-12
    .form-group
      %label Topics
      %br/
      %input.form-control.tags_field.form-control{name: "topic_list", autocomplete: "off", value: topics }
.row
  .col-md-12
    .form-group
      %label Tags
      %br/
      %input.form-control.tags_field.form-control{name: "tag_list", autocomplete: "off" }