#dialog-form{:title => "Add bookmark"}
  %p.validateTips All form fields are required.
  %form
    %fieldset
      = render partial: "media_bookmark/bookmark_form", locals: { media_bookmark: nil}
      %input{:name => "media_file_id", :type => "hidden", :value => media_file.id }
      %input{:name => "startTime", :type => "hidden"}
      / Allow form submission with keyboard without duplicating the dialog button
      %input{:style => "position:absolute; top:-1000px", :tabindex => "-1", :type => "submit"}/