.navbar-header
  %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
.navbar-collapse.collapse  
  %ul.nav.navbar-nav.navbar-left
    %li
      = link_to 'Enter new file', new_media_file_path
    %li
      = link_to "Search", media_search_path
    %li
      = link_to "By file name", media_files_path
